body {margin:0;
      font-family:Helvetica;
      font-size:22px;
      color:seashell;
      opacity:.9;
      background-color: black;
      text-align: center;}

header {display: flex;
        justify-content: space-between;
        align-items: center;
        height:69px;
        width:100%;
        border-bottom: 1px seashell solid;
        position: fixed;
        background-color: black;}

header img{margin-left: 10px; height:50px;}

header nav {margin-right:10px;}

header nav a {color:seashell;margin:0 10px;}

main {display: flex;
      flex-direction: column;
      margin: 0 auto;}
#c1 {
    margin:0 auto;
  height:700px;
    width:1200px;
    margin-top: 70px;
    display:flex;
    flex-direction: column;
    background-image: url("img-mission-background.jpg");
    justify-content: center;}
h2,h4{margin: 10px auto;}
#mission {background-color: black;}

#c2 {display:flex;
    flex-direction: column;
    background-color:black;
    width: 1000px;
    margin:0 auto;
    padding-top:80px;}
#featuredTea {display: flex;
              flex-wrap:wrap;
              justify-content: center;}

#featuredTea div {width:300px;
                  background-color:black;
                  margin:15px;}
#featuredTea img {width:300px;
                  height:200px;
                margin-bottom: 10px;}

#featuredTea h4 {padding:0px; margin:0px;}

#c3 {height:500px;
    width:1200px;
    background-image: url("img-locations-background.jpg");

    padding-top:70px;
    margin:0 auto;
    margin-top:60px;}


#c4 {height:200px;
    width:100%;
    background-color:black;
    display: flex;
    flex-direction: column;}
footer h5{margin-left:20px;
        text-align:left;}
#location {display:flex;
            justify-content: center;}

.loc {display: flex;
      flex-direction: column;
      justify-content: center;
      height:280px;
      width:300px;
      background-color:black;
      margin:15px 20px;}
